<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "insta.png" %>
    <% end %>

    <div class="navbar" id="navbarSupportedContent">
      <%= link_to new_publication_path do %>
        <i class="fa-regular fa-square-plus"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
      <%= link_to chatrooms_path do %>
        <i class="fa-regular fa-paper-plane"></i>
      <% end %>
    </div>
  </div>
</div>
